<div class="container">

  <div class="card mt-3 p-2">
    <div class="mt-2">
      <h3>Add Media Source</h3>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Name</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Source</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="source">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Description</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="input-group mb-3">
      <input type="file" class="form-control" id="inputGroupFile02">
    </div>
    <div class="mb-2 d-grid d-md-flex">
      <button class="btn btn-primary" type="button">Save</button>
    </div>
  </div>
</div>
